body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E6E6E6;
    color: #12455E;
    font-family: 'Fredoka', sans-serif;
    height: 100%;
}

h1 {
    font-size: 55px;
}

.intro {
    padding: 0px;
    margin: 0px;
}

#search {
    width: 70vw;
}

a {
    color: #12455E;
}


input {
    border: none;
    text-align: left;
    padding-left: 25px;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    background-color: #8FBDD3;
    outline: none;
    margin-bottom: 10px;
}

#search-result {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    border-radius: 20px;
    height: 120px;
    background-color: #8FBDD3;
    outline: none;
    margin-top: 10px;
}
